{% extends 'nav.html' %}
{% load static %}
{% block content %}
    <h3>What are your symptoms?</h3>
    <form method="POST" action="get_symptoms/">
        {% csrf_token %}
    <div class="type-ahead form-group" no-result-text="Sorry, no results." style = "margin-top: 30px; display: flex; justify-content: center; align-items: center;">
        <input type="text" name = "symptoms" placeholder="Type your main symptom here" style = "width: 450px;" title="" autocomplete="off" class="form-control type-ahead-select taller">
        <!---->
        <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu-list dropdown-menu" id="resultContainer" style="display: none;">
            <li class="typeahead-message"> Can't find your symptom? Only some symptoms are factored into results. </li>
        </ul><!---->
    </div>
    <div>
        <br>
        <a href="/basic_info" id="Continue" class="btn-get-started scrollto">< Previous</a>
        <button type = "submit" id="Continue" class="btn-get-started scrollto" style = "margin-left: 40px; border: none;">Continue ></button>
    </div>
</form>
{% endblock content %}

{% block style %}
.image-map-area {
    cursor: pointer;
  }
{% endblock style %}



